<%grade_array = []%>
<%(0..d.length-1).each do |i|%>
	<%grade_array << d[i]['grade'].to_i%>
<%end%>  
<%require 'descriptive_statistics'%>

<div class="row">
	<div class="col-xs-6">	
		<h4>A*-G , A*-C & A* - A</h4>
	</div>
	<div class="col-xs-6">
		<table class="table">
			<tr>
				<td>
				</td>
				<td>
					A*-G
				</td>
				<td>
					A*-C
				</td>
				<td>
					A*-A
				</td>
			</tr>
			<tr>
				<td>
					Number of Pupils
				</td>
				<td>
					<%=grade_array.count{|x| x > 0 }%>
					<%@a_g_percentage = 100*grade_array.count{|x| x > 0 }/d.length%>
				</td>
				<td>
					<%=grade_array.count{|x| x > 4 }%>
					<%@a_c_percentage = 100*grade_array.count{|x| x > 4 }/d.length%>
				</td>
				<td>
					<%=grade_array.count{|x| x > 6 }%>
					<%@a_a_percentage = 100*grade_array.count{|x| x > 6 }/d.length%>
				</td>		
			</tr>
			<tr>
				<td>
					Percentage of Pupils
				</td>
				<td class=" <%=color_class(@a_g_percentage,'a_g')%>">
					<%=@a_g_percentage%>
				</td>
				<td class="<%=color_class(@a_c_percentage,'a_c')%>">
					<%=@a_c_percentage%>
				</td>
				<td class="<%=color_class(@a_a_percentage,'a_a')%>">
					<%=@a_a_percentage%>
				</td>		
			</tr>
	
		</table>
	</div>
</div>

		
		<script type="text/javascript">
     
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['A* - G', <%=100*grade_array.count{|x| x > 0 }/d.length%>]
          
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 90,
          yellowFrom:90, yellowTo: 95,
          greenFrom:95, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAG_div<%=n%>'));

        chart.draw(data, options);

       
      };
      
      </script>
      <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - C', <%=100*grade_array.count{|x| x > 4 }/d.length%>]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 50,
          yellowFrom:50, yellowTo: 65,
          greenFrom:65, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAC_div<%=n%>'));

        chart.draw(data, options);

       
      };
      </script>
      
      <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
       function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - A', <%=100*grade_array.count{|x| x > 6 }/d.length%>]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 30,
          yellowFrom:30, yellowTo: 40,
          greenFrom:40, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAA_div<%=n%>'));

        chart.draw(data, options);

       
      };
    </script>