    
<%require 'descriptive_statistics'%>

<div class="row">
	<div class="col-xs-4 text-center">  
		<div id="gaugeAG_div<%=n%>" style="width: 400px; height: 120px;"></div>
	</div>
	<div class="col-xs-4 text-center">  
		<div id="gaugeAC_div<%=n%>" style="width: 400px; height: 120px;"></div>
	</div>
	<div class="col-xs-4 text-center">
		<div id="gaugeAA_div<%=n%>" style="width: 400px; height: 120px;"></div>
	</div>
</div>
<%grade_array = []%>
<%(0..d.length-1).each do |i|%>
	<%grade_array << d[i]['grade'].to_i%>
<%end%>

<table class="table">
	<tr>
		<td>
		</td>
		<td>
			A*-G
		</td>
		<td>
			A*-C
		</td>
		<td>
			A*-A
		</td>
	</tr>
	<tr>
		<td>
			Number of Pupils
		</td>
		<td>
			<%=grade_array.count{|x| x > 0 }%>
		</td>
		<td>
			<%=grade_array.count{|x| x > 4 }%>
		</td>
		<td>
			<%=grade_array.count{|x| x > 6 }%>
		</td>		
	</tr>
	<tr>
		<td>
			Percentage of Pupils
		</td>
		<td>
			<%=100*grade_array.count{|x| x > 0 }/d.length%>
		</td>
		<td>
			<%=100*grade_array.count{|x| x > 4 }/d.length%>
		</td>
		<td>
			<%=100*grade_array.count{|x| x > 6 }/d.length%>
		</td>		
	</tr>
	
</table>
		<script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['A* - G', <%=100*grade_array.count{|x| x > 0 }/d.length%>]
          
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 90,
          yellowFrom:90, yellowTo: 95,
          greenFrom:95, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAG_div<%=n%>'));

        chart.draw(data, options);

       
      };
      
      </script>
      <script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - C', <%=100*grade_array.count{|x| x > 4 }/d.length%>]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 50,
          yellowFrom:50, yellowTo: 65,
          greenFrom:65, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAC_div<%=n%>'));

        chart.draw(data, options);

       
      };
      </script>
      
      <script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
       function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - A', <%=100*grade_array.count{|x| x > 6 }/d.length%>]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 30,
          yellowFrom:30, yellowTo: 40,
          greenFrom:40, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAA_div<%=n%>'));

        chart.draw(data, options);

       
      };
    </script>