<style>
.top_bar {
margin:0px;
padding:0px;
height:100px;
width:100%;
padding-left:1px;
}
.bar_chart_design{
width:77px;
}
.top_bar .col-xs-1 {
padding:0px;
}
.logo_area {
	margin-top:100px;
	height:150px;
}
p.logo {
font-size:90px;
}
.first_letter_logo {
	
}
.front_page .main_heading {
 margin-top:20px;
 padding:40px;
 font-size:50px;
 color:#333;
 height:230px;
}
.front_page .main_text {
 margin-top:200px;
 padding-left:40px;
 background-color:#fff;
 height:525px;
}



.front_page .main_list {
margin-left:40px;
font-size:20px;
}

.front_page .main_list .list_item {

margin-top:30px;
}
.front_page .text_block {
margin-top:80px;
}
.front_page_graph {
	height:250px;
	border:1px solid #888888;
	border-radius:20px;
	position:relative;
	top:-100px;
	left:10px;
	box-shadow: 10px 10px 5px #888888;
	float:right;
}

.text_section {
padding-top:30px;
position:relative;
float:top;

}
.text_column {
padding-left:0px;
padding-right:60px;
}
.base_text {
width:100%;
padding-right:40px;
margin-top:175px;

}

.below_graph {

font-size:11px;
}

</style>
<div class="front_page">
	<div class="top_bar hidden">
		<div class="col-xs-1">
			<div class="bar_chart_design on_track_color" style="height:70px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design above_color" style="height:90px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design below_color" style="height:30px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design one_below_color" style="height:50px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design above_color" style="height:80px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design on_track_color" style="height:65px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design above_color" style="height:85px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design one_below_color" style="height:45px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design on_track_color" style="height:60px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design below_color" style="height:35px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design on_track_color" style="height:70px;"></div>
		</div>
		<div class="col-xs-1">
			<div class="bar_chart_design above_color" style="height:80px;"></div>
		</div>
	</div>
	<div class="logo_area">
		<div class="col-xs-6 col-xs-offset-6 text-center">
			<%=image_tag("logo_red.png")%>
		</div>
	</div>
	<div class="main_heading">
		SMD Report - Example Secondary School
		<br />
		<small>December 2014</small>
	</div>
	<div class="main_text">
		
		<div class="row text_section">
			
			<div class="col-xs-6">
				
				<ul class="list-unstyled main_list">
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> Progress 8</li>
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> Attainmant 8</li>
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> Levels of Progress</li>
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> Transition Matrices</li>
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> PP, SEN &amp; EAL</li>
					<li class="list_item"><i class='fa fa-chevron-circle-right'></i> Intervention Identified</li>
				</ul>
					
			 </div>
			<div class="col-xs-6 text_column"><%=image_tag("pie_chart.png", class: "front_page_graph")%>
				
			</div>
			
		</div>
			<div class="base_text text-right">
			
				SmartMove Data Report - December 2014
			</div>
	</div>
</div>

<div class="cont">
	<div class="page">
		<p class="qual_title">Structure of an SMD Report</p>
		<ul style="width:800px;">
			<li><strong>Class Information</strong>
				<ul>
					<li>Pupil list
						<p class="text">The pupil list includes key measures of progress including, Attainment 8 and Progress 8 value added per Subject. Also included: the identification of Pupil Premium, SEN and EAL
						students, KS2 Fine Grades, KS2 Sub Levels and Expected Attainment 8 per subject score. The sections are coloured based on key measures, to provide a clear overview of the demographic
						and performance of each class. 
						  </p>
					</li>
					<li>Summary Page
						<p class="text"> The summary page for each class provides a breakdown of levels of progress, average point score and Progress 8 - value added for all pupils + PP, SEN and EAL. There are four clear
						graphs designed to show the levels of progress for all of the pupils in each class. This page also includes a mini transition matrix showing the overview of the classes progress and the
						number &amp; percentage of pupils achieving in the following bands: A*-G, A*-C and A*-A. 
						</p>
					</li>
					<li>Value Added Graph
						<p class="text">A value added bar chart clearly shows the progress 8 - value added scores for each pupil in the class, this provides an easy to read overview of the classes progress.    
						</p>
					</li>
					<li>Transition Matrix
						<p class="text">This transtion matrix includes the names of all the students in the class, it has been coloured so that it is extremley easy to identify pupils making 3/4 levels of progress. 
						This tool makes selecting pupils for intervention extremley easy and allows teachers to have an immediate impact on those that need it most.     
						</p>
					</li>
				</ul>
			</li>
				
			<li style="margin-top:20px;"><strong>Subject Summary</strong>
				<ul>
					<li>Summary Page
						<p class="text">The summary page for each subject provides a breakdown of levels of progress, average point score and Progress 8 - value added for all pupils + PP, SEN and EAL. There are four clear
						graphs designed to show the levels of progress for all of the pupils in each class. This page also includes a mini transition matrix showing the overview of the classes progress and the
						number &amp; percentage of pupils achieving in the following bands: A*-G, A*-C and A*-A. 
						</p>
					</li>
					<li>Intervention - Levels of Progress
						<p class="text">This section contains a list of pupils that have been identified as not making the minimum expected progress (3 levels). The list is ranked starting with those pupils making the
						least progress, this allows subject leaders and teachers to have an immediate and profound impact within their subject.</p>
					</li>
					<li>Interventions - Progress 8
					<p class="text">This section contains a list of pupils whose Progress 8 - value added score is less than 1.0. The list is ranked starting with those pupils with the lowest value added score,
					 this allows subject leaders and teachers to have an immediate impact on incresing the subjects overall Progress 8 - Value Added score.</p>
					</li>
				</ul>
			</li>
			<li style="margin-top:20px;"><strong>Whole School Breakdown</strong>
				<ul>
					<li>Subject Overview
						<p class="text">The subject overview provides the following for each subject: average point score, average levels of progress and average Progress 8 - value added scores. These are then coloured
						to represent the different key levels as described on page ii, this enables immediate identfication of under performing subjects.</p>
					</li>
					
					<li>Value Added per Subject
						<p class="text">The value added per subject is discussed in more detail on page iv, this includes a statistical significance calculation that gives a prediction of whether a Progress 8 - value 
							added score will be significantly above or below average. </p>
					</li>
					<li>Levels of Progess + Average Point Score
						<p class="text">These graphs show the average levels of progress and average point scores for each subject, allowing immediate identification of subjects that are not making ample progress.
						</p>
					</li>
					<li>Subject Overview A* - C
						<p class="text"> This page contains a table showing the A*-G, A*-C and A*-A percentages for each subject, again providing a clear overview of all subjects performance within the school. 
						</p>
					</li>
					<li>Progress 8 - All Pupils
						<p class="text">These pages are a list of all pupils ranked by their Progress 8 Score, also included and coloured are the different sections that contribute to the Progress 8 Measure. This
							is a fantastic tool for identifying immediatley which students are having a negative effect on the schools Progress 8 score and which section is dragging them down.  </p>
					</li>
					<li>Pupil not taking English Literature
						<p class="text">This includes a list of all pupils not taking English Literature along with their current Progress 8 score, it then indicates their new Progress 8 score were they to be entered
						for the English Literature Exam.  
						</p>
					</li>
					<li>School Summary Page
						<p class="text">The school summary page includes a break down of the Progress 8 Measure for all pupils, PP, SEN and EAL. These are coloured do demonstrate any areas of success or weakness. 
						Following this the number of pupils acheiving an A* - C in Maths, English and the two combined are recorded and represeneted in percentage form. The final graph shows the 
						Progress 8 Score with a predicted significance calculation of all, PP, SEN and EAL pupils. </p>
					</li>
				</ul>
			</li>
		</ul>
		<div class="footer">
			<div class="col-xs-4 text">SMD Example Whole School Report</div>
			<div class="col-xs-4 text-center">i</div>
			<div class="col-xs-4 text text-right">SmartMove Data January 2015</div>
		</div>
	</div>
	<div class="page">
		<p class="qual_title">Information</p>
		<hr>
		<p class="qual_title">AQA GCSE in Mathematics A - <i>full qualification title</i></p>
		<p class="class_title">11ma1 -  <i>class title</i></p>
		<table class="student_list_table">
			<tr>
				<th>Surname</th>
				<th>Forename</th>
				<th>PP</th>
				<th>SEN</th>
				<th>EAL</th>
				<th>Exp A8</th>
				<th>Eng KS2</th>
				<th>Ma KS2</th>
				<th>Avg KS2</th>
				<th>Result</th>
				<th>PS</th>
				<th>LP</th>
				<th>VA</th>
			</tr>
			<tr>
				<td>Perry</td>
				<td>Adam</td>
				<td><i class="fa fa-check-circle"></i></td>
				<td></td>
				<td></td>
				<td>4.2</td>
				<td><div class="numberCircle one_below_color">4B</div></td>
				<td><div class="numberCircle below_color">3A</div></td>
				<td><div class="numberCircle one_below_color">4C</div></td>
				<td>C</td>
				<td>5</td>
				<td class="one_below_color">3.67</td>
				<td class="one_below_color">+0.8</td>
			</tr>
			<tr>
				<td>Jones</td>
				<td>Benjamin</td>
				<td></td>
				<td><i class="fa fa-check-circle"></i></td>
				<td></td>
				<td>5.9</td>
				<td><div class="numberCircle one_below_color">4A</div></td>
				<td><div class="numberCircle on_track_color">5B</div></td>
				<td><div class="numberCircle  on_track_color">5C</div></td>
				<td>A</td>
				<td>7</td>
				<td class=" on_track_color">4.67</td>
				<td class=" on_track_color">+1.1</td>
			</tr>
			<tr>
				<td>Tipton</td>
				<td>Logan</td>
				<td></td>
				<td></td>
				<td><i class="fa fa-check-circle"></i></td>
				<td>2.0</td>
				<td><div class="numberCircle below_color">3C</div></td>
				<td><div class="numberCircle below_color">2B</div></td>
				<td><div class="numberCircle below_color">2A</div></td>
				<td>D</td>
				<td>4</td>
				<td class="on_track_color">4.0</td>
				<td class="above_color">+2.0</td>
			</tr>
		</table>
		<div class="row">
			<div class="col-xs-6">
				<div class="text_group">
					<p style="margin-top:40px;"><strong>PP, SEN &amp; EAL</strong></p>
					<br />
					<p class="text">Pupils that are Pupil Premium, SEN or EAL are identified with a tick in the respective column. Through out the report analysis is conducted on all three of these groups comparing them to the
					whole school average.</p>
				</div>
				<div class="text_group">
					<p style="margin-top:40px;"><strong>Eng KS2, Ma KS2 &amp; Avg KS2</strong></p>
					<br />
					<p class="text">These are the Key Stage 2 Sub Levels used to calculate the Levels of Progress Score for each pupil. If the average is split between two sub levels,the lower of the two will then be used. 
						The circles are coloured based on the following criteria :
						<ul>
							<li style="color:#5cb85c;">5C and above - Green</li>
							<li style="color:#f0ad4e;">4C - 4A - Orange</li>
							<li style="color:#d9534f;">3A and below - Red</li>
						</ul>
					  </p>
				</div>
				<div class="text_group">
					<p style="margin-top:40px;"><strong>Levels of Progress</strong></p>
					<br />
					<p class="text"> Levels of Progress are calculated using the KS2 Sublevels and the pupils result. For Maths and English the respective sublevel is used, for all other subjects the results are compared
					to the average KS2 sublevel. Three levels of progress is now the minimum expected amount, with four levels being above expected. The following colours are used to represent the different
					levels of progress:
						<ul>
							<li style="color:#428bca;">5 Levels and above - Blue</li>
							<li style="color:#5cb85c;">4 Levels - Green</li>
							<li style="color:#f0ad4e;">3 Levels - Orange</li>
							<li style="color:#d9534f;">2 Levels and below - Red</li>
						</ul>
					  </p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="text_group">
					<p style="margin-top:40px;"><strong>Exp A8</strong></p>
					<br />
					<p class="text">Expected Attainment 8 is calculated using each pupils fine levels at KS2, if a school does not have the fine levels an estimate can be made using the schools KS2 Sub Levels e.g. (4B).
					The Expected Attainment 8 is for 8 subjects with two double weighted, therefore to give an Expected Attaiment Score per subject the Expected Attainment 8 score is divided by 10. 
						To make the conversion from KS2 to Expected A8 a conversion table provided by the DFE is used. This uses National Data from 2013, evidently it is not possible to use future data to 
						make these conversions, therefore their maybe some changes from year to year.
					</p>
				</div>
				<div class="text_group">
					<p style="margin-top:40px;"><strong>Result &amp; PS</strong></p>
					<br />
					<p class="text">The result is simply the result entered by staff at the school. This is then converted into a Points Score (PS), using the new Point Score System (1-8). 
					</p>
				</div>
				<div class="text_group">
					<p style="margin-top:40px;"><strong>Value Added</strong></p>
					<br />
					<p class="text">The value added is the progress 8 score per subject. This has been calculated by subtracting the Expected Attainment 8 Score per Subject from the Point Score Result. If the value added
					score is zero in all of the students subjects then their Progress 8 result would also be 0. This means the student has met their Expected Attainment 8 Score. A Progress 8/ Value Added
				   score of less then -0.5 score is considered to be below the floor standard. Therefore the following colours are used for Progress 8 / Value Added Scores.
						<ul>
							<li style="color:#428bca;">2 and above - Blue</li>
							<li style="color:#5cb85c;">2 to 1 - Green</li>
							<li style="color:#f0ad4e;">1 to 0 - Orange</li>
							<li style="color:#d9534f;">0 to -0.5 - Red</li>
							<li style="color:#000;">-0.5 and below - Black</li>
						</ul>
					  </p>
				</div>
			</div>
		</div>
			
			
		<div class="footer">
			<div class="col-xs-4 text">SMD Example Whole School Report</div>
			<div class="col-xs-4 text-center">ii</div>
			<div class="col-xs-4 text text-right">SmartMove Data January 2015</div>
		</div>
	</div>
	<div class="page">
		<p class="qual_title">Information - Graphs</p>
		The graphs shown below are created for each class and each subject as a summary overview, they are designed to be easy to read and clearly demonstrate any trends that may 
		not be apparent from the data sheet. 
		<div class="row">
			<div class="col-xs-6">            
				<div id="lp_bar_chart" style="width: 460px; height: 300px;"></div>
				<div class="below_graph">
					This chart clearly shows how many pupils are making each level of progress. Designed to allow teachers to quickly identify numbers of pupils in each band. 
				</div>
			</div>
			<div class="col-xs-6">   
			  <div id="lp_chart_donut" style="width: 460px; height: 300px;"></div>
			  	<div class="below_graph">
					This donut chart is designed to show in simple format the different percentages for each levels of progress band. This can be used to quickly tell what 
					percentage of a class/subject are under performing.  
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">            
				<div id="lp_curve_chart" style="width: 460px; height: 300px;"></div>
				<div class="below_graph">
					This area chart is similar to the bar chart however it shows very quickly and clearly how a class is performing as a whole. The graph is desinged to provide
					those overlooking large sections of the curriculum to quickly analyse the progress made in each class.  
				</div>
			</div>
			<div class="col-xs-6">   
			  <div id="lp_scatter_chart" style="width: 460px; height: 300px;"></div>
			  <div class="below_graph">
					The SMD Moving Average Chart is designed to show how a class is weighted in terms of its levels of progress. A class with a large number of under achievers will be
					clearly skewed to the left, a large number of high achievers will create a skew to the right. This makes it very easy to identify if a class is on the whole under or
					overperforming. 
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="col-xs-6">
				<p class="class_title">Mini Transition Matrix</p>
				<%k=0%>
				<%d_array = [39,67,86,113,115,122,76,120,59,134,114]%>
				<table class=" mini_table" id="printTable" >
					<tr>
						<th class="title_td">KS2</th>
						<th class="title_td">U</th>
						<th class="title_td">G</th>
						<th class="title_td">F</th>
						<th class="title_td">E</th>
						<th class="title_td">D</th>
						<th class="title_td">C</th>
						<th class="title_td">B</th>
						<th class="title_td">A</th>
						<th class="title_td">A*</th>
					</tr>
					<%@ks2_number.each do |s| %>


						<tr class="mini">
							<th class="title_td"><%=s[0]%></th>
							<%for j in 0..8%>
									<% if @above.include? k%>
										<td class="above mini">
									<%elsif @one_below.include? k%>
										<%if k == 113%>
										<td class="one_below mini" style="border: 2px solid #ff0000;">
										<%else%>
										<td class="one_below mini">
										<%end%>
									<%elsif @on_target.include? k%>
										<td class="on_target mini">
									
									<%else%>
										<td class="below mini">
									<%end%>
									<%if d_array.include? k%>
										1 - 5%
									<%elsif k==85 %>
										3 - 15%
									<%elsif k==104 || k==151 || k==84%>
										2 - 10%
									<%end%>
								</td>
								<%k+=1%>
							<%end%>
						</tr>
					<%end%>
				</table>
				<div class="below_graph" style="margin-top:20px;">
					The mini transition matrix is designed to provide an overview of the levels of progress made by a class or subject. The left hand column is the KS2 Entry level
					and the top row is the predicted KS4 result. If a pupil has a KS2 result of a 4A and is predicted to achieve a C at KS4 then they will appear in the box that has a 
					bright red border.
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-4 text-center">  
						<div id="gaugeAG_div" style="width: 400px; height: 120px;"></div>
					</div>
					<div class="col-xs-4 text-center">  
						<div id="gaugeAC_div" style="width: 400px; height: 120px;"></div>
					</div>
					<div class="col-xs-4 text-center">
						<div id="gaugeAA_div" style="width: 400px; height: 120px;"></div>
					</div>
				</div>
				
				<table class="table">
					<tr>
						<td>
						</td>
						<td>
							A*-G
						</td>
						<td>
							A*-C
						</td>
						<td>
							A*-A
						</td>
					</tr>
					<tr>
						<td>
							Number of Pupils
						</td>
						<td>
							30
						</td>
						<td>
							22
						</td>
						<td>
							4
						</td>		
					</tr>
					<tr>
						<td>
							Percentage of Pupils
						</td>
						<td class="above_color">
							100%
						</td>
						<td class="on_track_color">
							73%
						</td>
						<td class="one_below_color">
							13.3%
						</td>		
					</tr>
				</table>
				<div class="below_graph" style="margin-top:20px;">
					This shows both the number and percentage of pupils per class/subject achieving A*-G, A*-C or A*-A. The colours are sorted as follows:
					<table class="student_list_table">
						<tr>
							<th></th>
							<th>A*-A</th>
							<th>A*-C</th>
							<th>A*-G</th>
						</tr>
						<tr>
							<th class="above_color">Blue</th>
							<td class="above_color">100%</td>
							<td class="above_color">> 75</td>
							<td class="above_color">> 40</td>
						</tr>
						<tr>
							<th class="on_track_color">Green</th>
							<td class="on_track_color">99%</td>
							<td class="on_track_color">65 - 75</td>
							<td class="on_track_color">30-40</td>
						</tr>
						<tr>
							<th class="one_below_color">Orange</th>
							<td class="one_below_color">95-98</td>
							<td class="one_below_color">50 - 65</td>
							<td class="one_below_color">10-30</td>
						</tr>
						<tr>
							<th class="below_color">Red</th>
							<td class="below_color">< 95</td>
							<td class="below_color">< 50</td>
							<td class="below_color">< 10</td>
						</tr>
					</table>	
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="col-xs-4 text">SMD Example Whole School Report</div>
			<div class="col-xs-4 text-center">iii</div>
			<div class="col-xs-4 text text-right">SmartMove Data January 2015</div>
		</div>
	</div>
	<div class="page">
		<p class="qual_title">Information - Graphs</p>
		<div id="va_class_chart"></div>
		<div class="below_graph" style="margin-bottom:20px;">
			<strong>Value Added Graph</strong>
			This graph shows the value added per pupil, a value added score of 0 suggests that students have met their expected attainment 8 score. Therefore above the line demonstrates
			a positive value added score. The colours have the same thresholds as the ones used for the value added in the table of data. The graph allows quick identification of key pupils who
			need support in order to raise their Progress 8 score. 
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p class="class_title">Value Added - Statisitcal Significance per Subject</p>
				<div id ="va_chart_example" ></div>
				<div class="below_graph" style="margin-top:20px;">
					<strong>Value Added + Statistical Significance</strong>
					<p class="text">The statisitcal significance is calculated using the standard deviation of the Progress 8 scores for all eligible pupils nationally. The value that has been used to 
					calculate the significance in this case has been taken from the example provided in the technical guide issued by the DFE. This will evidently change year on year and depending on 
					the subject therefore the significance calculation can not be guaranteed for any particular year or subject.</p>
					<ul>
						<li>A Progress 8 score where the lower-bound is above 0 is considered to be significantly above average. </li>
						<li>A Progress 8 score where the upper-bound is below 0 is considered to be significantly below average. </li>
						<li>A Progress 8 score where the lower-bound and upper-bound straddle 0 is considered to be not significanct. </li>
						<li>A whole school Progress 8 score of less than -0.5 will be considered to be below the floor standard and will therefore lead to an inspection. </li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6">
				<p class="class_title">Progress 8 - Statisitcal Significance Whole School</p>
				<div id="va_chart_whole_school_example"></div>
				<div class="below_graph" style="margin-top:20px;">
					<strong>Progress 8 + Statistical Significance</strong>
					<p class="text">The statisitcal significance is calculated using the standard deviation of the Progress 8 scores for all eligible pupils nationally. The value that has been used to 
					calculate the significance in this case has been taken from the example provided in the technical guide issued by the DFE. This will evidently change year on year therefore the significance 
					calculation can not be guaranteed for any particular year.</p>
					<ul>
						<li>A Progress 8 score where the lower-bound is above 0 is considered to be significantly above average. </li>
						<li>A Progress 8 score where the upper-bound is below 0 is considered to be significantly below average. </li>
						<li>A Progress 8 score where the lower-bound and upper-bound straddle 0 is considered to be not significanct. </li>
						<li>A whole school Progress 8 score of less than -0.5 will be considered to be below the floor standard and will therefore lead to an inspection. </li>
					</ul>
				</div>
			</div>
		</div>
			<div class="footer">
			<div class="col-xs-4 text">SMD Example Whole School Report</div>
			<div class="col-xs-4 text-center">iv</div>
			<div class="col-xs-4 text text-right">SmartMove Data January 2015</div>
		</div>
	</div>
</div>

<%school_data = [{:title => 'All Pupils', :va =>1.8 , :up_va =>2.4 ,:lo_va=>1.2},
		{:title => 'PP', :va =>1.1 , :up_va =>1.4 ,:lo_va=>0.8},
		{:title => 'SEN', :va =>-0.3 , :up_va =>-0.1 ,:lo_va=>-0.5},
		{:title => 'EAL', :va =>0.6 , :up_va =>0.9 ,:lo_va=>0.3}]%>
<script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'x');
        data.addColumn('number', 'values');
        data.addColumn({id:'i0', type:'number', role:'interval'});
        data.addColumn({id:'i1', type:'number', role:'interval'});
        data.addColumn({id:'i2', type:'number', role:'interval'});
        
  
        data.addRows([
            <%school_data.reverse.each do |d|%>
            ['<%=d[:title]%>', <%=d[:va]%>, <%=d[:up_va]%>,<%=d[:lo_va]%>,<%=d[:va]%>],
        	<%end%>
            ]);
  
        // The intervals data as narrow lines (useful for showing raw source data)
       var options_bars = {
        title: '',
        vAxis: {title: 'Progress 8 Score',
         viewWindow:{
                max:5,
                min:-5
              }},
        curveType: 'function',
        series: [{'color': '#D9544C'}],
        lineWidth: 0,
        height:450,
        chartArea: {height: "40%", width: "100%", top:10, left:50 },
        hAxis: { direction:-1, slantedText:true, slantedTextAngle:90 },
        intervals: { 'lineWidth':1, 'barWidth': 0.5 },
        interval: {
            'i2': { 'style':'points', 'color':'grey', 'pointSize': 6,
            'lineWidth': 0, 'fillOpacity': 1 }
        },
        legend: 'none',
    };
        
  
        var chart_lines = new google.visualization.LineChart(document.getElementById('va_chart_whole_school_example'));
        chart_lines.draw(data, options_bars);
      }
    </script>


<%data = [{:title => 'AQA GCSE in Mathematics A Linear', :va =>1.8 , :up_va =>2.4 ,:lo_va=>1.2},
		{:title => 'Pearson Edexcel GCSE in English Language', :va =>1.1 , :up_va =>1.4 ,:lo_va=>0.8},
		{:title => 'AQA Certificate in English Literature', :va =>-0.3 , :up_va =>-0.1 ,:lo_va=>-0.5},
		{:title => 'AQA GCSE in Biology', :va =>0.6 , :up_va =>0.9 ,:lo_va=>0.3},
		{:title => 'AQA GCSE in Chemistry', :va =>1.6 , :up_va =>1.8 ,:lo_va=>1.4},
		{:title => 'AQA GCSE in Physics', :va =>0.7 , :up_va =>0.9 ,:lo_va=>0.5},
		{:title => 'AQA GCSE in Science A', :va =>-0.1 , :up_va =>0.5 ,:lo_va=>-0.3},
		{:title => 'OCR GCSE in Additional Science A', :va =>1.9 , :up_va =>2.4 ,:lo_va=>1.4},
		{:title => 'AQA GCSE in Geography A', :va =>2.1 , :up_va =>2.4 ,:lo_va=>1.8},
		{:title => 'Pearson Edexcel GCSE in Italian', :va =>0.4 , :up_va =>0.7 ,:lo_va=>0.1},
		{:title => 'WJEC L1 Certificate in Latin Language', :va =>-0.6 , :up_va =>-0.1 ,:lo_va=>-1.1}]%>
<script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'x');
        data.addColumn('number', 'values');
        data.addColumn({id:'i0', type:'number', role:'interval'});
        data.addColumn({id:'i1', type:'number', role:'interval'});
        data.addColumn({id:'i2', type:'number', role:'interval'});
        
  
        data.addRows([
            <%data.reverse.each do |d|%>
            ['<%=d[:title]%>', <%=d[:va]%>, <%=d[:up_va]%>,<%=d[:lo_va]%>,<%=d[:va]%>],
        	<%end%>
            ]);
  
        // The intervals data as narrow lines (useful for showing raw source data)
       var options_bars = {
        title: '',
        vAxis: {title: 'Value Added',
         viewWindow:{
                max:5,
                min:-5
              }},
        curveType: 'function',
        series: [{'color': '#D9544C'}],
        lineWidth: 0,
        height:450,
        chartArea: {height: "40%", width: "100%", top:10, left:50 },
        hAxis: { direction:-1, slantedText:true, slantedTextAngle:90 },
        intervals: { 'lineWidth':1, 'barWidth': 0.5 },
        interval: {
            'i2': { 'style':'points', 'color':'grey', 'pointSize': 6,
            'lineWidth': 0, 'fillOpacity': 1 }
        },
        legend: 'none',
    };
        
  
        var chart_lines = new google.visualization.LineChart(document.getElementById('va_chart_example'));
        chart_lines.draw(data, options_bars);
      }
    </script>

<%lp_count = [0,0,0,0,0,1,2,4,6,4,2,0,0,0,0]%>
<%arr = [{:name => 'Rogers Stephen', :va => 0.4}, 
		{:name => 'Smith Adrian', :va => -0.3}, 
		{:name => 'Taylor Daniel', :va => -0.8}, 
		{:name => 'Walker Adam', :va => 1.4}, 
		{:name => 'Lucas Mark', :va => 2.2}, 
		{:name => 'Johnson Edward', :va => 0.7}, 
		{:name => 'Yarnold Emma', :va => 1.4}, 
		{:name => 'Tysoe George', :va => 1.8}, 
		{:name => 'Smith Benjamin', :va => 2.1}, 
		{:name => 'Lawson Emma', :va => 1.3}, 
		{:name => 'Jones Benjamin', :va => -0.4}, 
		{:name => 'Tipton Anthony', :va => 0.5}, 
		{:name => 'Andrews Sophie', :va => 1.6}, 
		{:name => 'Jameson Samantha', :va => 1.8}, 
		{:name => 'Black Arthur', :va => -0.8}, 
		{:name => 'Napier Charley', :va => 1.3}, 
		{:name => 'Morris Jason', :va => 0.7}, 
		{:name => 'Brooks Peter', :va => 0.9}, 
		{:name => 'Thompson Denise', :va => 1.3}, 
		{:name => 'Harris Keith', :va => -0.3}, 
		{:name => 'Coleman Kevin', :va => 0.7}, 
		{:name => 'Lee Howard', :va => -0.2}, 
		{:name => 'Robinson James', :va => 0.1}]%>
	<script type="text/javascript">
		google.setOnLoadCallback(drawChart);
		function drawChart() {

		  var data = google.visualization.arrayToDataTable([
			['Pupil Name', 'Value Added',  { role: 'style' } ],
			<%arr.each do |x|%>
			['<%=x[:name]%>', <%=x[:va]%>, '<%=va_bar_color(x[:va])%>'],
			<%end%>

		  ]);

		  var options = {
			title: 'Value Added per Pupil',
			legend:  'none',
			height:400,
			width:900,
			chartArea: {height:"50%", width: "90%", left:80, top:50},
			hAxis: {title: 'Pupils', titleTextStyle: {color: 'black'}, direction:-1, slantedText:true, slantedTextAngle:90 },
			vAxis: {title: 'Value Added' }
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('va_class_chart'));

		  chart.draw(data, options);

		}
    </script>
	
	
	<script type="text/javascript">
     
google.setOnLoadCallback(drawChart);
function drawChart() {

  var data = google.visualization.arrayToDataTable([
    ['Levels of Progress', 'Number of Pupils',  { role: 'style' } ],
    <%for i in 0..5%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#d9534f'],
    <%end%>
    <%for i in 6..7%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#f0ad4e'],
    <%end%>
        <%for i in 8..8%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#5cb85c'],
    <%end%>
        <%for i in 9..14%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#428bca'],
    <%end%>

  ]);

  var options = {
    title: 'Levels of Progress',
    legend:  'none',
     chartArea: {width:'80%'},
    hAxis: {title: 'Levels of Progress', titleTextStyle: {color: 'black'}, ticks: [-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9]},
    vAxis: {title: 'Number of Pupils', maxValue: <%=lp_count.max+1%>}
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('lp_bar_chart'));

  chart.draw(data, options);

}
    </script>
	 <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Levels of Progress', 'Number of Pupils',  { role: 'style' }],
          <%for i in 0..5%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#d9534f'],
		<%end%>
		<%for i in 6..7%>
			['<%=i-5%>LP', <%=lp_count[i]%>, '#f0ad4e'],
		<%end%>
		<%for i in 8..8%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#5cb85c'],
		<%end%>
		<%for i in 9..14%>
			['<%=i-5%>LP', <%=lp_count[i]%>, '#428bca'],
		<%end%>
        ]);

        var options = {
          title: 'Levels of Progress',
          pieHole: 0.4,
          pieSliceText: 'label',
          legend: {
    position: 'labeled'
},
          slices: {
            0: { color: '#d9534f' },
            1: { color: '#d9534f' },
            2: { color: '#d9534f' },
            3: { color: '#d9534f' },
            4: { color: '#d9534f' },
            5: { color: '#d9534f' },
            6: { color: '#f0ad4e' },
            7: { color: '#f0ad4e' },
            8: { color: '#5cb85c' },
            9: { color: '#428bca' },
            10: { color: '#428bca' },
            11: { color: '#428bca' },
            12: { color: '#428bca' },
            13: { color: '#428bca' },
            14: { color: '#428bca' },
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('lp_chart_donut'));
        chart.draw(data, options);
      }
    </script>
	<script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Levels of Progress', 'Number of Pupils',  { role: 'style' }],
          <%for i in 0..5%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#d9534f'],
		<%end%>
          <%for i in 6..7%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#f0ad4e'],
		<%end%>
		<%for i in 8..8%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#5cb85c'],
		<%end%>
		<%for i in 9..14%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#428bca'],
		<%end%>
        ]);

        var options = {
          title: 'Levels of Progress Curve',
          chartArea: {width:'80%'},
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
        };

        var chart = new google.visualization.AreaChart(document.getElementById('lp_curve_chart'));
        chart.draw(data, options);
      }
    </script>
    
     <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Age', 'Weight'],
          [-5, 0],
          <%(0..12).step(3) do |i|%>
          	
			[<%=i-2%>, <%=lp_count[i,i+2].sma%>],
		<%end%>
        ]);

        var options = {
          title: 'SMD - Levels of Progress Moving Average',
          chartArea: {width:'80%'},
          hAxis: {title: 'Levels of Progress', minValue: -5, maxValue: 9, viewWindow: {
                    min: -5
                }},
          vAxis: {title: 'Weight'},
          legend: 'none',
          trendlines: {
      0: {
        type: 'polynomial',
        degree: 4,
        visibleInLegend: true,
        showR2: true,
      }
    }
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('lp_scatter_chart'));

        chart.draw(data, options);
      }
    </script>
    
    
    <script type="text/javascript">
     
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['A* - G', 100]
          
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 90,
          yellowFrom:90, yellowTo: 95,
          greenFrom:95, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAG_div'));

        chart.draw(data, options);

       
      };
      
      </script>
      <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - C', 73]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 50,
          yellowFrom:50, yellowTo: 65,
          greenFrom:65, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAC_div'));

        chart.draw(data, options);

       
      };
      </script>
      
      <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
       function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          
          ['A* - A', 13.3]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 0, redTo: 30,
          yellowFrom:30, yellowTo: 40,
          greenFrom:40, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gaugeAA_div'));

        chart.draw(data, options);

       
      };
    </script>