

<%lp_array = []%>
<%lp_count = []%>
<%axis_x = []%>
<%lp_a = []%>
<%if d%>
	<%for i in 0..d.length-1%>
		<%if d[i]['lp']%>
			<%lp_array << d[i]['lp'].to_i%>
			<%lp_a << d[i]['lp']%>
		<%end%>
	<%end%>
<%end%>
<%for i in -5..9%>
	<%axis_x<<i.to_s+'LP'%>
	<%lp_count << lp_array.count(i)%>
	
<%end%>



<div class="row">
	<div class="col-xs-6">  
		<h4>Levels of Progress - Bar Chart</h4>            
        <div id="chart_div<%=n%>" style="width: 410px; height: 400px;"></div>
    </div>
    <div class="col-xs-6">
    	<h4>SMID Levels of Progress - Pie Chart</h4>     
      <div id="donutchart<%=n%>" style="width: 410px; height: 400px;"></div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<h4>Levels of Progres - Overview</h4>              
        <div id="curve_chart_div<%=n%>" style="width: 820px; height: 350px;"></div>
    </div>
</div>




<script type="text/javascript">
     
google.setOnLoadCallback(drawChart);
function drawChart() {

  var data = google.visualization.arrayToDataTable([
    ['Levels of Progress', 'Number of Pupils',  { role: 'style' } ],
    <%for i in 0..5%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#d9534f'],
    <%end%>
    <%for i in 6..7%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#f0ad4e'],
    <%end%>
        <%for i in 8..8%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#5cb85c'],
    <%end%>
        <%for i in 9..14%>
    [<%=i-5%>,  <%=lp_count[i]%>, '#428bca'],
    <%end%>

  ]);

  var options = {
    title: '',
    legend:  'none',
    chartArea: {width:'90%', height:'80%'},
    hAxis: {title: 'Levels of Progress', titleTextStyle: {color: 'black'}, ticks: [-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9]},
    vAxis: {title: 'Number of Pupils', maxValue: <%=lp_count.max+1%>}
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div<%=n%>'));

  chart.draw(data, options);

}
    </script>
    
    
    
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Levels of Progress', 'Number of Pupils',  { role: 'style' }],
          <%for i in 0..5%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#d9534f'],
		<%end%>
		<%for i in 6..7%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#f0ad4e'],
		<%end%>
		<%for i in 8..8%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#5cb85c'],
		<%end%>
		<%for i in 9..14%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#428bca'],
		<%end%>
        ]);

        var options = {
          title: '',
          chartArea: {width: '100%', height:'80%'},
          pieHole: 0.4,
          pieSliceText: 'label',
          legend: {
    position: 'labeled'
},
          slices: {
            0: { color: '#d9534f' },
            1: { color: '#d9534f' },
            2: { color: '#d9534f' },
            3: { color: '#d9534f' },
            4: { color: '#d9534f' },
            5: { color: '#d9534f' },
            6: { color: '#f0ad4e' },
            7: { color: '#f0ad4e' },
            8: { color: '#5cb85c' },
            9: { color: '#428bca' },
            10: { color: '#428bca' },
            11: { color: '#428bca' },
            12: { color: '#428bca' },
            13: { color: '#428bca' },
            14: { color: '#428bca' },
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart<%=n%>'));
        chart.draw(data, options);
      }
    </script>
	
	<script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Levels of Progress', 'Number of Pupils',  { role: 'style' }],
          <%for i in 0..5%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#d9534f'],
		<%end%>
          <%for i in 6..7%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#f0ad4e'],
		<%end%>
		<%for i in 8..8%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#5cb85c'],
		<%end%>
		<%for i in 9..14%>
			['<%=i-5%>LP',  <%=lp_count[i]%>, '#428bca'],
		<%end%>
        ]);

        var options = {
          title: '',
           chartArea: {width:'90%', top:10, left:40, height:'80%'},
            legend: 'none',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},

          vAxis: {minValue: 0},
        };

        var chart = new google.visualization.AreaChart(document.getElementById('curve_chart_div<%=n%>'));
        chart.draw(data, options);
      }
    </script>
    