
<div id="student_bar_chart<%=a%>"></div>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Subject", "Point Score", { role: "style" } ],
        <%d.each do |s|%>
        	<%lp = calculate_levels_of_progess(en_ks2, ma_ks2, s[:title], s[:ps])%>
        		<%if lp.blank?%>
        			['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#5cb85c'],
				<%elsif lp <0%>
					['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#000000'],
				<%elsif lp <3%>
					['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#d9534f'],
				<%elsif lp <4%>
					['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#f0ad4e'],
				<%elsif lp <5 %>
					['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#5cb85c'],
				<%elsif lp >=5%>
					['<%=s[:title].gsub(/-/, ' ')%>',  <%=s[:ps]%>,'#428bca'],
				<%end%>
       		
        <%end%>
      ]);

    
      var options = {
        title: "Points Score per Subject",
       height:400,
       chartArea: {height:'90%', top:20, left:400},
      
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("student_bar_chart<%=a%>"));
      chart.draw(data, options);
  }
  </script>