
<%require 'descriptive_statistics'%>
<style>

</style>

<%n=1%>
<%va_count=1%>
<div class="cont">
	<%=render 'front_page'%>
	
	<div class="">
	<%subject_overall_data=[]%>

	<%subject_titles = []%>
	<%@students[0].keys.each do |k|%>
		<%if k.include? '_Class'%>
			<%subject_titles.push(k[0..-7])%>
		<%end%>
	<%end%>
	<%subject_titles.each do |s|%>
		<%subject_summary_hash ={}%>
		<%classes = []%>
		<%@students.each do |d|%>
			<%if !classes.include? d[s+'_Class'].upcase%>
				<%classes.push(d[s+'_Class'].upcase)%>
			<%end%>
		<%end%>
		<%qualification_title =s.gsub(/-/, ' ')%>
		<br />
		<%classes.reject! { |c| c.empty? }%>
	
		<%subject_lp = []%>
		<%subject_va = []%>
		<%subject_ps = []%>
		<%subject_data= []%>
		<%classes.each do |class_name| %>
		<%d = []%>
			<div class="page">
				<%class_lp = []%>
				<%class_lp_pp = []%>
				<%class_lp_sen = []%>
				<%class_lp_eal = []%>
				<%class_va = []%>
				<%class_ps = []%>
				<p class="qual_title"><%=qualification_title%></p>
				<p class="class_title"><strong>Class: </strong><%=class_name.upcase%></p>
				<table class="student_list_table">
					<tr >
						<%i=0%>
						<%@students[0].keys.first(9).each do |k|%>
							
								<th class="text-center"><%=@display_details[i]%></th>
							<%i+=1%>
						<%end%>
						<th>Result</th>
						<th>PS</th>
						<th class="text-center">LP</th>
						<th class="text-center">VA</th>
					</tr>
				<%@students.each do |student|%>
					<%grades ={}%>
					<%if student[s+'_Class'].upcase == class_name.upcase && !student[s].blank?%>
						<tr>
							<%student.first(12).each do |d|%>
								<%if d[0].upcase == 'SURNAME'%>
									<%grades['surname'] = d[1]%>
								<%end%>
								<%if d[0].upcase == 'FORENAME'%>
									<%grades['forename'] = d[1]%>
								<%end%>
								<%if !d[0].upcase.include? 'FINE'%>
									<%if d[0] == 'Expected Attainment 8'%>
										<td><%=(d[1].to_f/10).round(1)%></td>
									<%else%>
										<%if ['SEN','PP','EAL'].include? d[0].upcase %>
											<%if d[1] == 'Y'%>
												<td><i class="fa fa-check-circle"></i></td>
											<%else%>
												<td></td>
											<%end%>
										<%else%>
											<%if d[0].upcase.include? 'KS2'%>
												<%if check_subject(qualification_title) == 'maths'%>
													<%if d[0] == 'Maths_KS2_grade'%>
														<%if !d[1].blank?%>
														<%grades['ks2'] = @ks2_number[d[1].upcase]%>
														<%end%>
													<%end%>
												<%elsif ['ENGLISH','ENGLISH_LIT'].include? check_subject(qualification_title).upcase %>
													<%if d[0] == 'English_KS2_grade'%>
														<%if !d[1].blank?%>
															<%grades['ks2'] = @ks2_number[d[1].upcase]%>
														<%end%>
													<%end%>
												<%else%>
													<%if d[0].upcase == 'AVERAGE KS2'%>
														<%if !d[1].blank?%>
															<%grades['ks2'] = @ks2_number[d[1].upcase]%>
														<%end%>
													<%end%>
												<%end%>
												<td>
													<%if !d[1].blank?%>
														<%if @ks2_number[d[1].upcase]<=9%>
															<div class="numberCircle below_color">
														<%elsif @ks2_number[d[1].upcase]<=12%>
															<div class="numberCircle one_below_color">
														<%else%>
															<div class="numberCircle on_track_color">
														<%end%>
														<%=d[1].upcase%>
													<%end%>
														
													</div>
												</td>
											<%else%>
											<td><%=d[1]%></td>
											<%end%>
										<%end%>
									<%end%>
								<%end%>
							<%end%>
							<%student.each do |d|%>
								<%if d[0].include? s %>
									<%if d[0] == s%>
									<td><%=d[1]%></td>
									<%elsif d[0].include? 'Points Score'%>
									<td><%=d[1]%></td>
									<%grades['grade'] = d[1]%>
									<%elsif d[0].include? 'Levels of Progress'%>
									 <td class='<%=color_div_lp(d[1])%>'><%=lp = d[1]%></td>
									 <%grades['lp'] = lp%>
									<%elsif d[0].include? 'Value Added'%>
											<%if !d[1].blank?%>
												<%va = d[1]%>
												<%grades['va'] = va%>
												<%if va>0%>
													<td class='<%=color_div_va(va)%>'>+<%=va%></td>
												<%else%>
													<td class='<%=color_div_va(va)%>'><%=va%></td>
												<%end%>
											<%end%>
									<%end%>
									
								<%end%>
							<%end%>
						</tr>
						<%d<<grades%>
						<%subject_data<<grades%>
					<%end%>
				<%end%>
				</table>
				
			</div>
			<div class="page">
			
			<p class="qual_title">Summary Statistics - <%=class_name.upcase%></p>
				<%=draw_summary_table(class_name,s,@students)%>
				
						 
				<div class="row">
					<%render 'lp_piechart', {:d => d, :n =>n }%>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6" >
						<%render 'mini_tmatrix', {:d =>d, :n =>n}%>
					</div>
					<div class="col-xs-6">
						<%render 'ac_chart', {:d =>d, :n=>n}=%>
						
						
					</div>
				</div>
				
					
				<%n+=1%>
			
			</div>
			<div class="page">
				<p class="qual_title">Value Added Chart - <%=class_name.upcase%></p>
				<%render 'va_class_chart', {:d =>d, :n=>n}=%>
			</div>
			<div class="page">
				<p class="qual_title">Transition Matrix - <%=class_name.upcase%></p>
				<%=render 'tmatrix', :d => d%>
			</div>
		<%end%>
		<div class="page">
			<p class="qual_title">Summary Statistics - <%=s.gsub(/-/, ' ')%></p>
			<%=draw_summary_table('subject',s,@students)%>
			
					
		

			 <div class="row">
					<%render 'lp_piechart', {:d => subject_data, :n =>n }%>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6">
						<%render 'mini_tmatrix', {:d =>subject_data, :n =>n}%>
					</div>
					<div class="col-xs-6">
						<%render 'ac_chart', {:d =>subject_data, :n=>n}=%>
					</div>
				</div>
			 </div>
			<%lp = calculate_average_from_hash('subject', s, 'all', @students, 'lp')%>
			<%sub_va = calculate_average_from_hash('subject', s, 'all', @students, 'va')%>
			<%sub_ps = calculate_average_from_hash('subject', s, 'all', @students, 'ps')%>
			<%subject_summary_hash = {:name => qualification_title, :lp => lp, :va => sub_va, :ps => sub_ps, :a_g => @a_g_percentage,
			 :a_c => @a_c_percentage, :a_a => @a_a_percentage, :num_pupils => number_of_pupils(s, @students)}%>
			<%subject_overall_data << subject_summary_hash%>
			<%n+=1%>
			
			<%below_lp =[]%>
			<%below_va = []%>
			<%subject_data.each do |pupil|%>
				<%if !pupil['lp'].blank?%>
					<%if pupil['lp']<3%>
						<%below_lp << pupil%>
					<%end%>
					<%if pupil['va']<=0%>
						<%below_va << pupil%>
					<%end%>
				<%end%>
			<%end%>
			
			<%lp_count_pages = below_lp.count/31%>
			<%for i in 0..lp_count_pages%>
				<div class="page">
					<p class="qual_title">Key Target Areas - <%=qualification_title%></p>
					<p class="class_title">Levels of Progress</p>
					<h5>The pupils listed below have all been identified as key pupils for support. </h5>
					<br />
					
						<%if !below_lp.empty?%>
							<table class="table">
								<tr>
									<th>Surname</th>
									<th>Forename</th>
									<th>KS2</th>
									<th>Point Score</th>
									<th>Levels of Progress</th>
								</tr>
							<%below_lp.sort_by { |h| h['lp'] }.drop(30*i).first(30).each do |pupil|%> 
								<tr>
									<td><%=pupil['surname']%></td>
									<td><%=pupil['forename']%></td>
									<td><%=@ks2_number.key(pupil['ks2'])%></td>
									<td><%=pupil['grade']%> </td>
									<td class='<%=color_div_lp(pupil['lp'])%>'><%=pupil['lp']%></td>
								</tr>
							<%end%>
							</table>
						<%else%>
							<h5>There are no pupils making less than 3 levels of progress in this subject.</h5>
						<%end%>
				</div>
			<%end%>
			<%va_count_pages = below_va.count/30%>
			<%for i in 0..va_count_pages%>
				<div class="page">
					<p class="qual_title">Key Target Areas - <%=qualification_title%></p>
					<p class="class_title">Value Added</p>
					<h5>The pupils listed below have all been identified as key pupils for support. </h5>
				
					
						<%if !below_va.empty?%>
							<table class="table">
								<tr>
									<th>Surname</th>
									<th>Forename</th>
									<th>KS2</th>
									<th>Point Score</th>
									<th>Value Added Score</th>
								</tr>
							<%below_va.sort_by { |h| h['va'] }.drop(30*i).first(30).each do |pupil|%>  
								<tr>
									<td><%=pupil['surname']%></td>
									<td><%=pupil['forename']%></td>
									<td><%=@ks2_number.key(pupil['ks2'])%></td>
									<td><%=pupil['grade']%> (<%=@grade_score.key(pupil['grade'])%>)</td>
									<td><%=pupil['va']%></td>
								</tr>
							<%end%>
							</table>
						<%else%>
							<h5>There are no pupils with a Value Added Score of 0 or less in this subject.</h5>
						<%end%>
				</div>
			<%end%>
			
		<%end%>
	</div>
	
	<%=render 'subject_overview', {:data => subject_overall_data, :va_count=>va_count}%>
	
</div>