<%p =1%>
<%n=1%>
<%va_count=1%>
<div class="cont">
	<%=render 'front_page'%>
	<%=render 'contents'%>
	<div class="">
	<%subject_overall_data=[]%>
	<%@subject_titles.each do |s|%>
		<%subject_summary_hash ={}%>
		<%classes = @students.map { |x| x[s+'_Class'].upcase }.uniq.reject(&:empty?).sort%>
		<%qualification_title =s.gsub(/-/, ' ')%>
		<br />
		<%subject_data= []%>
		<%classes.each do |class_name| %>
		<%d = []%>
			<div class="page">
				<p class="qual_title"><%=qualification_title%></p>
				<p class="class_title"><strong>Class: </strong><%=class_name.upcase%></p>
				<table class="student_list_table">
					<tr >
						<%@display_details.each do |disp|%>
								<th class="text-center"><%=disp%></th>
						<%end%>
					</tr>
				<%@students.select {|arr| arr[s+'_Class'].upcase == class_name.upcase && !arr[s].blank?}.each do |student|%>
						<tr>
							<td><%=student['Surname']%></td>
							<td><%=student['Forename']%></td>
							<td><%=check_group(student['PP'])%></td>
							<td><%=check_group(student['SEN'])%></td>
							<td><%=check_group(student['EAL'])%></td>
							<td><%=student['Expected Attainment 8'].to_f/10.round(1)%></td>
							<td><div class="numberCircle <%=color_class(student['English_KS2_grade'][0].to_i,'ks2')%>"><%=student['English_KS2_grade'].upcase%></div></td>
							<td><div class="numberCircle <%=color_class(student['Maths_KS2_grade'][0].to_i,'ks2')%>"><%=student['Maths_KS2_grade'].upcase%></div></td>
							<td><div class="numberCircle <%=color_class(student['Average KS2'][0].to_i,'ks2')%>"><%=student['Average KS2']%></div></td>
							<td><%=student[s]%></td>
							<td><%=student[s+' Points Score']%></td>
							<td class="<%=color_class(student[s+' Levels of Progress'],'lp')%>"><%=student[s+' Levels of Progress']%></td>
							<td class="<%=color_class(student[s+' Value Added'],'va')%>"><%=student[s+' Value Added']%></td>
						</tr>
						<%ks2 = choose_ks2_measure(s,student['English_KS2_grade'],student['Maths_KS2_grade'],student['Average KS2'])%>
						<%a = {"surname"=>student['Surname'], "forename"=>student['Forename'], "ks2"=>ks2, "grade"=>student[s+' Points Score'], "lp"=>student[s+' Levels of Progress'], "va"=>student[s+' Value Added']}%>
						<%d<<a%>
						<%subject_data<<a%>
				<%end%>
				</table>
				<%=render 'footer', {:p =>p}=%>
				<%p+=1%>
			</div>
			<div class="page">
			
				<p class="qual_title">Summary Statistics - <%=class_name.upcase%></p>
				<%=draw_summary_table(class_name,s,@students)%>
				
						 
				<div class="row">
					<%=render 'lp_piechart', {:d => d, :n =>n }%>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6" >
						<%=render 'mini_tmatrix', {:d =>d, :n =>n}%>
					</div>
					<div class="col-xs-6">
						<%=render 'ac_chart', {:d =>d, :n=>n}%>
					</div>
				</div>
				<%=render 'footer', {:p =>p}=%>
				<%p+=1%>
			</div>
			<div class="page">
				<p class="qual_title">Value Added Chart - <%=class_name.upcase%></p>
				<%=render 'va_class_chart', {:d =>d, :n=>n}=%>
				<%=render 'footer', {:p =>p}=%>
				<%p+=1%>
			</div>
				<%n+=1%>
			<div class="page">
				<p class="qual_title">Transition Matrix - <%=class_name.upcase%></p>
				<%=render 'tmatrix', :d => d%>
				<%=render 'footer', {:p =>p}=%>
				<%p+=1%>
			</div>
		<%end%>
		<div class="page">
			<p class="qual_title">Summary Statistics - <%=s.gsub(/-/, ' ')%></p>
			<%=draw_summary_table('subject',s,@students)%>
		
			 <div class="row">
					<%=render 'lp_piechart', {:d => subject_data, :n =>n }%>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-6">
					<%=render 'mini_tmatrix', {:d =>subject_data, :n =>n}%>
				</div>
				<div class="col-xs-6">
					<%=render 'ac_chart', {:d =>subject_data, :n=>n}=%>
				</div>
			</div>
			<%=render 'footer', {:p =>p}=%>
				<%p+=1%>
		 </div>
			<%lp = calculate_average_from_hash('subject', s, 'all', @students, 'lp')%>
			<%sub_va = calculate_average_from_hash('subject', s, 'all', @students, 'va')%>
			<%sub_ps = calculate_average_from_hash('subject', s, 'all', @students, 'ps')%>
			<%subject_summary_hash = {:name => qualification_title, :lp => lp, :va => sub_va, :ps => sub_ps, :a_g => @a_g_percentage,
			 :a_c => @a_c_percentage, :a_a => @a_a_percentage, :num_pupils => number_of_pupils(s, @students)}%>
			<%subject_overall_data << subject_summary_hash%>
			<%n+=1%>
			
			<%below_lp =[]%>
			<%below_va = []%>
			<%subject_data.each do |pupil|%>
				<%if !pupil['lp'].blank?%>
					<%if pupil['lp']<3%>
						<%below_lp << pupil%>
					<%end%>
					<%if pupil['va']<=0%>
						<%below_va << pupil%>
					<%end%>
				<%end%>
			<%end%>
			
			<%lp_count_pages = below_lp.count/31%>
			<%for i in 0..lp_count_pages%>
				<div class="page">
					<p class="qual_title">Key Target Areas - <%=qualification_title%></p>
					<p class="class_title">Levels of Progress</p>
					<h5>The pupils listed below have all been identified as key pupils for support. </h5>
					<br />
					
						<%if !below_lp.empty?%>
							<table class="table">
								<tr>
									<th>Surname</th>
									<th>Forename</th>
									<th>KS2</th>
									<th>Point Score</th>
									<th>Levels of Progress</th>
								</tr>
							<%below_lp.sort_by { |h| h['lp'] }.drop(30*i).first(30).each do |pupil|%> 
								<tr>
									<td><%=pupil['surname']%></td>
									<td><%=pupil['forename']%></td>
									<td><%=@ks2_number.key(pupil['ks2'])%></td>
									<td><%=pupil['grade']%> </td>
									<td class='<%=color_div_lp(pupil['lp'])%>'><%=pupil['lp']%></td>
								</tr>
							<%end%>
							</table>
						<%else%>
							<h5>There are no pupils making less than 3 levels of progress in this subject.</h5>
						<%end%>
						<%=render 'footer', {:p =>p}=%>
						<%p+=1%>
				</div>
			<%end%>
			<%va_count_pages = below_va.count/30%>
			<%for i in 0..va_count_pages%>
				<div class="page">
					<p class="qual_title">Key Target Areas - <%=qualification_title%></p>
					<p class="class_title">Value Added</p>
					<h5>The pupils listed below have all been identified as key pupils for support. </h5>
				
					
						<%if !below_va.empty?%>
							<table class="table">
								<tr>
									<th>Surname</th>
									<th>Forename</th>
									<th>KS2</th>
									<th>Point Score</th>
									<th>Value Added Score</th>
								</tr>
							<%below_va.sort_by { |h| h['va'] }.drop(30*i).first(30).each do |pupil|%>  
								<tr>
									<td><%=pupil['surname']%></td>
									<td><%=pupil['forename']%></td>
									<td><%=@ks2_number.key(pupil['ks2'])%></td>
									<td><%=pupil['grade']%> (<%=@grade_score.key(pupil['grade'])%>)</td>
									<td class='<%=color_div_va(pupil['va'])%>'><%=pupil['va']%></td>
								</tr>
							<%end%>
							</table>
						<%else%>
							<h5>There are no pupils with a Value Added Score of 0 or less in this subject.</h5>
						<%end%>
						<%=render 'footer', {:p =>p}=%>
						<%p+=1%>
				</div>
			<%end%>
			
		<%end%>
	</div>
	
	<%=render 'subject_overview', {:data => subject_overall_data, :va_count=>va_count, :p => p}%>
	
</div>