<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>




<% require 'gchart' %>


<%subjects={}%>
<%n=1%>

<%for i in 0..@data.length-1%>
	<%for j in 0..@subject_names.length-1%>
		<%if !subjects[@subject_names[j]]%>
			<%subjects.merge! @subject_names[j]=>{}%>
		<%end%> 
		<%if !subjects[@subject_names[j]][@data[i][@subject_names[j]]]%>
			<%subjects[@subject_names[j]].merge! @data[i][@subject_names[j]]=>{}%>
		<%end%>
		
		<%if !subjects[@subject_names[j]][@data[i][@subject_names[j]]][@data[i]['Surname']+" "+@data[i]['Forename']]%>
			<%subjects[@subject_names[j]][@data[i][@subject_names[j]]].merge! @data[i]['Surname']+" "+@data[i]['Forename'] => {}%>
		<%end%>
		<%sub = subjects[@subject_names[j]][@data[i][@subject_names[j]]][@data[i]['Surname']+" "+@data[i]['Forename']]%>
		<%if !sub["result"]%>
			
			<%sub.merge! "eng_ks2_grade" => @data[i]['English_KS2_grade']%>
			<%sub.merge! "maths_ks2_grade" => @data[i]['Maths_KS2_grade']%>	
			<%sub.merge! "result" => @data[i][@subject_names[j][0..-6]<<"Result"]%>		
		<%end%>	
	<%end%>
<%end%>

<%subjects.each do |subject, classes|%>
	<%subject_lp =[]%>
	<hr>
	<b><%=subject[0..-7]%></b>
		<%subject_d = []%>
	<%classes.each do |classes, names|%>
		<%class_lp =[]%>
		<%d = []%>
		
		<br />
		<br />
		<%=classes%>
		<table class="table">
		<tr>
			<td>Name</td>
			<td>KS2 English Level</td>
			<td>KS2 Maths Level</td>
			<td>KS2 Average</td>
			<td>Result</td>
			<td>Levels Progress</td>
			
		</tr>
		<%names.each do |name, details|%>
		<%grades = Hash.new%>
			<tr>
				<td>
					<%=name%>
					<%grades['name'] = name%>
				</td>
				<td>
					<%=details["eng_ks2_grade"].upcase%>
				</td>
				<td>
					<%=details["maths_ks2_grade"].upcase%>
				</td>
				<td>
					<%ks2_english = @ks2_number[details["eng_ks2_grade"].upcase]%>
					<%ks2_maths = @ks2_number[details["maths_ks2_grade"].upcase]%>
					<%ks2_avg_num = (ks2_english + ks2_maths)/2%>
					<%=@ks2_number.index(ks2_avg_num)%>
					<%grades["ks2"] = ks2_avg_num%>
				</td>
				<td>
					<%=details["result"]%>
				</td>
				<td>
					<%if @grade_number[details["result"]]%>
						<%result_num = (@grade_number[details["result"]]*3)+6%>
						<%grades["grade"] =@grade_number[details["result"]]%>
						<%=lp = ((result_num.to_f - ks2_avg_num.to_f)/3).round(2)%>
						<%class_lp << lp%>
						<%subject_lp << lp%>
						<%grades['lp'] = lp%>
					<%end%>
				</td>
			</tr>
			<%d << grades%>
			<%subject_d << grades%>
		<%end%>
		</table>
		<b><%=classes%> average levels of Progress:</b>
	
		<%=class_lp.inject{ |sum, el| sum + el }.to_f / class_lp.size%>
		<br />
			<%= render 'lp_piechart', {:d => d, :n =>n }%>
			<%n=n+1%>
		<br />
		<b>Transition Matrix</b>
		<%= render 'tmatrix', :d => d%>
	
	<%end%>
	<p style="margin-top:20px;">
		<b><%=subject[0..-7]%> Summary</b>
		<b>Transition Matrix</b>
		<%= render 'tmatrix', :d => subject_d%>
	</p>
	<p>
		Subject Levels of Progress
		<%=subject_lp.inject{ |sum, el| sum + el }.to_f / subject_lp.size%>
	</p>
<%end%>

<table>
<%for i in 0..@data.length-1%>
	<tr>
		<%@data[0].each do |keys, array|%>
			<td>
				<%=keys%>
			</td>
		<%end%>
	</tr>
	<tr>
		<%@data[i].each do |keys, array|%>
			<td>
				<%=array%>
			</td>
		<%end%>
	</tr>
<%end%>
</table>
<%for i in 0..@subject_names.length-1%>
	
	<%@data.select {|k| k[@subject_names[i]] == "11Bi2"}%>
<%end%>

