<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<%=@data%>
<table>
	<tr>
		<td>Surname</td>
		<td>Forename</td>
		<td>English KS2</td>
		<td>Maths KS2</td>
		<td>English KS2 Fine</td>
		<td>Maths KS2 Fine</td>
		<td>Average KS2 Fine</td>
		<td>Expected Attainment 8</td>
		<td>Maths Attainment</td>
		<td>English Attainment</td>
		<td>Ebacc Attainemnt</td>
		<td>Other Attainment</td>
		<td>Attainment 8</td>
		<td>Progress 8</td>
		<td>Value Added</td>
	</tr>
	
<%@data.each do |d|%>
	<tr>
		<td><%=d['Surname']%></td>
		<td><%=d['Forename']%></td>
		<td><%=d['English_KS2_grade']%></td>
		<td><%=d['Maths_KS2_grade']%></td>
		<td><%=d['English_KS2_fine']%></td>
		<td><%=d['Maths_KS2_fine']%></td>
		<td><%=d['average_ks2_fine']%></td>
		<td><%=d['expected_a8']%></td>
		<td><%=d['maths8']%></td>
		<td><%=d['english8']%></td>
		<td><%=d['ebacc8']%></td>
		<td><%=d['other8']%></td>
		<td><%=d['attainment8']%></td>
		<td><%=d['progress8']%></td>
		<td><%=d['va']%></td>
	</tr>
<%end%>

</table>

<% require 'gchart' %>
<div class="cont">
	<div class="front_page">
	Smart Move Data
	</div>
	<%subjects={}%>
	<%n=1%>

	<%for i in 0..@data.length-1%>
		<%for j in 0..@subject_names.length-1%>
			<%if !subjects[@subject_names[j]]%>
				<%subjects.merge! @subject_names[j]=>{}%>
			<%end%> 
			<%if !subjects[@subject_names[j]][@data[i][@subject_names[j]]]%>
				<%subjects[@subject_names[j]].merge! @data[i][@subject_names[j]]=>{}%>
			<%end%>
		
			<%if !subjects[@subject_names[j]][@data[i][@subject_names[j]]][@data[i]['Surname']+" "+@data[i]['Forename']]%>
				<%subjects[@subject_names[j]][@data[i][@subject_names[j]]].merge! @data[i]['Surname']+" "+@data[i]['Forename'] => {}%>
			<%end%>
			<%sub = subjects[@subject_names[j]][@data[i][@subject_names[j]]][@data[i]['Surname']+" "+@data[i]['Forename']]%>
			<%if !sub["result"]%>
			
				<%sub.merge! "eng_ks2_grade" => @data[i]['English_KS2_grade']%>
				<%sub.merge! "maths_ks2_grade" => @data[i]['Maths_KS2_grade']%>	
				<%sub.merge! "result" => @data[i][@subject_names[j][0..-6]<<"Result"]%>		
			<%end%>	
		<%end%>
	<%end%>

	<%subjects.each do |subject, classes|%>
		<%subject_lp =[]%>
		<hr>
		<b><%=subject[0..-7]%></b>
			<%subject_d = []%>
		<%classes.each do |classes, names|%>
			<%class_lp =[]%>
			<%d = []%>
			<div class="page">
			<%=classes%>
			
				<table class="table">
				<tr>
					<td>Name</td>
					<td>KS2 English Level</td>
					<td>KS2 Maths Level</td>
					<td>KS2 Average</td>
					<td>Result</td>
					<td>Levels Progress</td>
			
				</tr>
				<%names.each do |name, details|%>
				<%grades = Hash.new%>
				
							<%grades['name'] = name%>
						
							<%ks2_english = @ks2_number[details["eng_ks2_grade"].upcase]%>
							<%ks2_maths = @ks2_number[details["maths_ks2_grade"].upcase]%>
							<%ks2_avg_num = (ks2_english + ks2_maths)/2%>
							<%ks2_avg = @ks2_number.index(ks2_avg_num)%>
							<%grades["ks2"] = ks2_avg_num%>
					
						
							<%if @grade_number[details["result"]]%>
								<%result_num = (@grade_number[details["result"]]*3)+6%>
								<%grades["grade"] =@grade_number[details["result"]]%>
								<%lp = ((result_num.to_f - ks2_avg_num.to_f)/3).round(2)%>
								<%class_lp << lp%>
								<%subject_lp << lp%>
								<%grades['lp'] = lp%>
							<%end%>
					<%if lp%>
						<%if lp < 3%>
							<tr class="below_color">
						<%elsif lp < 4 && lp>=3%>
							<tr class="three_levels_color">
						<%elsif lp < 5 && lp>=4%>
							<tr class="four_levels_color">
						<%elsif lp >= 5%>
							<tr class="above_color">
					
					
						<%else%>
						<tr>
						<%end%>
					<%else%>
						<tr>
					<%end%>
				
						<td>
							<%=name%>
							<%grades['name'] = name%>
						</td>
						<td>
							<%=details["eng_ks2_grade"].upcase%>
						</td>
						<td>
							<%=details["maths_ks2_grade"].upcase%>
						</td>
						<td>
							<%=ks2_avg%>
						
						</td>
						<td>
							<%=details["result"]%>
						</td>
						<td>
							<%if lp%>
								<%=lp %>
							<%end%>
						</td>
					</tr>
					<%d << grades%>
					<%subject_d << grades%>
				<%end%>
				</table>
		
			<b><%=classes%> average levels of Progress:</b>
	
			<%=class_lp.inject{ |sum, el| sum + el }.to_f / class_lp.size%>
			</div>
			<div class="page">
				<% render 'lp_piechart', {:d => d, :n =>n }%>
				<div class="row">
					<div class="col-xs-6">
						<% render 'mini_tmatrix', {:d =>d, :n =>n}=%>
					</div>
					<div class="col-xs-6">
						<% render 'ac_chart', {:d =>d, :n=>n}=%>
					</div>
				</div>
				<%n=n+1%>
			</div>
			<div class="page">
				<b>Transition Matrix</b>
				<% render 'tmatrix', :d => d %>
			</div>
		<%end%>
		<div class="page">
			<p style="margin-top:20px;">
				<b><%=subject[0..-7]%> Summary</b>
				<b>Transition Matrix</b>
				<% render 'tmatrix', :d => subject_d=%>
			</p>
		
			<p>
				Subject Levels of Progress
				<%=subject_lp.inject{ |sum, el| sum + el }.to_f / subject_lp.size%>
			</p>
			</div>
	<%end%>
	
	<table>
	<%for i in 0..@data.length-1%>
		<tr>
			<%@data[0].each do |keys, array|%>
				<td>
					<%=keys%>
				</td>
			<%end%>
		</tr>
		<tr>
			<%@data[i].each do |keys, array|%>
				<td>
					<%=array%>
				</td>
			<%end%>
		</tr>
	<%end%>
	</table>
	<%for i in 0..@subject_names.length-1%>
	
		<%@data.select {|k| k[@subject_names[i]] == "11Bi2"}%>
	<%end%>
</div>
